* {
    box-sizing: border-box;
  }

  
  body {
    font-family: Arial;
  }
  
  /* Header/Blog Title */
  .header {
    padding: 50px;
    text-align: center;
    background: white;
    background-image: linear-gradient(to bottom, rgba(11, 11, 11, 0.52), rgba(0, 0, 0, 0.73)),url("headerBg.jpg");
    background-position: 80% 35%;
  }

  .header .image {
      margin-top: -30px;
      margin-left: 90px;
  }

  .header h1 {
 
      font-size: 40px;
      color: white;
      margin-left: 60px;
  }

  footer{
    background-color: gray;
    padding: 50px;
    background-image: linear-gradient(to bottom, rgba(11, 11, 11, 0.52), rgba(0, 0, 0, 0.73)),url("headerBg.jpg");
    background-position: 80% 65%;
  }
  
  
  body {
    margin: 0;
  }
  
  .slider {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    position: relative;
  }
  
  .slider .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    animation: slide 10s infinite;
  }
  
  .slider .slide:nth-child(1) {
    background-image: url('img1.jpg');
    background-image: linear-gradient(to bottom, rgba(11, 11, 11, 0.52), rgba(0, 0, 0, 0.73)),url("img1.jpg");
    animation-delay: -0;
  }
  
  .slider .slide:nth-child(2) {
    background-image: url('img2.jpg');
    background-image: linear-gradient(to bottom, rgba(11, 11, 11, 0.52), rgba(0, 0, 0, 0.73)),url("img2.jpg");
    animation-delay: -2s;
  }
    
  .slider .slide:nth-child(3) {
    background-image: url('img3.jpg');
    background-image: linear-gradient(to bottom, rgba(11, 11, 11, 0.52), rgba(0, 0, 0, 0.73)),url("img3.jpg");
    animation-delay: -4s;
  }
    
  .slider .slide:nth-child(4) {
    background-image: url('img4.jpg');
    background-image: linear-gradient(to bottom, rgba(11, 11, 11, 0.52), rgba(0, 0, 0, 0.73)),url("img4.jpg");
    animation-delay: -6s;
  }
  
  .slider .slide:nth-child(5) {
    background-image: url('img5.jpg');
    background-image: linear-gradient(to bottom, rgba(11, 11, 11, 0.52), rgba(0, 0, 0, 0.73)),url("img5.jpg");
    animation-delay: -8s;
  }
  
  @keyframes slide {
    0%, 15%, 100% {
      transform: translateX(0);
      animation-timing-function: ease;
    }
    20% {
      transform: translateX(-100%);
      animation-timing-function: step-end;
    }
    95% {
      transform: translateX(100%);
      animation-timing-function: ease;
    }
  }

  .nav {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
    /*
    This doesn't work
    margin-left: -25%;
    margin-top: -25%;
    */
    
    width: 40%;
    height: 50%;

    padding: 20px;  
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.73));
    color: white;
    text-align: center;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    border-radius: 10%;
  }

  .nav h1 {
    font-size: 40px;
    color: white;
    margin-left: 60px;
  }

  .buttons {
    background-color: yellow; /* Green */
    border-radius: 12px;
    border: none;
    color: rgb(0, 0, 0);
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  }

  .button2:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(199, 90, 199);
  }

  /* Container for flexboxes */
section {
  display: -webkit-flex;
  display: flex;
}

/* Style the navigation menu */
nav {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: #71684e;
  padding: 35px;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
} 

nav ul li a {
  color: rgb(255, 255, 255);
}

nav ul li a:hover {
  color: purple;
}


/* Style the content */
article {
  -webkit-flex: 10;
  -ms-flex: 10;
  flex: 10;
  background-color: #f1f1f1;
  padding: 110px;
}

p {
  font-size: 20px;
}
  
h1 {
  font-size: 25px;
}